<div class="wrapper wrapper-content">
  <div id="content">
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>Form service_type</h2>
        <ol class="breadcrumb">
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="<%= service_types_url %>">List</a>
          </li>
          <li class="active">
            <strong>Form</strong>
          </li>
        </ol>
      </div>
    </div>
    <br>
    <div id="content">
      <%= render 'form' %>
    </div>
  </div>
</div>
