<div class="wrapper wrapper-content">
  <div id="content">
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>Form activity_title</h2>
        <ol class="breadcrumb">
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="<%= activity_titles_url %>">List</a>
          </li>
          <li class="active">
            <strong>Form</strong>
          </li>
        </ol>
      </div>
    </div>
    <br>
    <div id="content">
      <div class="page-header">
        <%= link_to activity_titles_path, class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          Back
        <% end %>
        <%= link_to @activity_title, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-info-sign"></span>
          Show
        <% end %>
        <h1>Editing activity_title</h1>
      </div>

      <%= render 'form' %>
    </div>
  </div>
</div>
