<div class="footer">
    <div class="pull-right">
        Sheila
    </div>
    <div>
      <%
        if Time.now.year >= 2021
          date = "2020 - " + "#{Time.now.year}"
        else
          date = Time.now.year
          # Time.now.year
        end
      %>
        <strong>Copyright</strong> PGN &copy; <%= date %>
    </div>
</div>
